@import "../scss/utils/mixins";
@import "../scss/utils/reset";
@import "../scss/utils/variables";

@import "../scss/modules/header.scss";
@import "../scss/modules/main.scss";


@media only screen and (max-width:1556px) {
  main {
    .grid {
      h1 {
        grid-column: 2/span 4 !important;
        grid-row: 11/span 1 !important;
      }

      .imgs {
        grid-column: 3/span 3 !important;
        grid-row: 3/span 8 !important;
      }

      .imgs-2 {
        grid-column: 6/span 3 !important;
        grid-row: 3/span 4 !important;
      }

      .imgs-3 {
        grid-column: 6/span 3 !important;
        grid-row: 7/span 4 !important;
      }

      .imgs-4 {
        grid-column: 9/span 3 !important;
        grid-row: 3/span 8 !important;
      }
    }
  }
}

@media only screen and (max-width: 1443px) {
  main {
    .title {
      font-size: 120px !important;
    }

    .sub-title {
      width: 90% !important;
    }
  }
}

@media only screen and (max-width:1280px) {
  main {
    .grid {
      h1 {
        grid-column: 2/span 4 !important;
        grid-row: 11/span 1 !important;
      }

      .imgs {
        grid-column: 3/span 3 !important;
        grid-row: 4/span 7 !important;
      }

      .imgs-2 {
        grid-column: 6/span 3 !important;
        grid-row: 4/span 4 !important;
      }

      .imgs-3 {
        grid-column: 6/span 3 !important;
        grid-row: 8/span 3 !important;
      }

      .imgs-4 {
        grid-column: 9/span 3 !important;
        grid-row: 4/span 7 !important;
      }
    }
  }
}

@media only screen and (max-width: 1087px) {
  nav>ul {
    font-size: 2.2em !important;
  }

  main {
    .title {
      font-size: 100px !important;
    }

    .sub-title {
      width: 90% !important;
      font-size: 15px !important;
    }
  }
}

@media only screen and (max-width:1024px) {
  main {
    .title {
      font-size: 90px !important;
    }

    .desc {
      .sub-title {
        width: 96% !important;
        font-size: 20px !important
      }
    }

    .forest img {
      height: 100% !important;
    }

    .grid {
      height: 86% !important;
      top: 16% !important;

      h1 {
        grid-column: 5/span 5 !important;
        grid-row: 11/span 1 !important;
        text-align: center !important;
      }

      .imgs {
        grid-column: 3/span 4 !important;
        grid-row: 2/span 6 !important;
      }

      .imgs-2 {
        grid-column: 3/span 4 !important;
        grid-row: 8/span 3 !important;
      }

      .imgs-3 {
        grid-column: 7/span 4 !important;
        grid-row: 8/span 3 !important;
      }

      .imgs-4 {
        grid-column: 7/span 4 !important;
        grid-row: 2/span 6 !important;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  main {
    .title {
      font-size: 80px !important;
    }
  }
}

@media only screen and (max-width: 784px) {
  main {
    .title {
      font-size: 75px !important;
    }

    .desc {
      .sub-title {
        width: 92% !important;
        font-size: 16px !important;
      }
    }

    .grid {
      height: 90% !important;
      top: 10% !important;

      h1 {
        grid-column: 5/span 5 !important;
        grid-row: 11/span 1 !important;
        text-align: center !important;
        font-size: 35px !important;
      }
    }
  }
}

@media only screen and (max-width: 688px) {
  main {
    .title {
      font-size: 70px !important;
    }

    .grid {
      height: 80% !important;
      top: 20% !important;
    }

    .bg-image {
      height: 80% !important;
    }
  }
}

@media only screen and (max-width: 642px) {
  main {
    .title {
      font-size: 100px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;

      h1 {
        bottom: 60px !important;
      }
    }
  }
}

@media only screen and (max-width: 588px) {
  nav>ul {
    font-size: 1.6em !important;
  }

  main {
    .bottom-nav {
      h3 {
        font-size: 1.2em !important;
        transform: scaleY(1.2) translateX(-22px) !important;
      }
    }

    .bottom-nav:hover h3 {
      transform: scaleY(1.2) translateX(0px) !important;
    }

    .desc {
      .sub-title {
        width: 96% !important;
        font-size: 12px !important;
      }
    }

    .grid {
      height: 86% !important;
      top: 14% !important;

      h1 {
        grid-column: 4/span 7 !important;
        grid-row: 11/span 1 !important;
        font-size: 44px !important;
      }

      .imgs {
        grid-column: 2/span 5 !important;
        grid-row: 2/span 6 !important;
      }

      .imgs-2 {
        grid-column: 2/span 5 !important;
        grid-row: 8/span 3 !important;
      }

      .imgs-3 {
        grid-column: 7/span 5 !important;
        grid-row: 8/span 3 !important;
      }

      .imgs-4 {
        grid-column: 7/span 5 !important;
        grid-row: 2/span 6 !important;
      }
    }
  }
}

@media only screen and (max-width: 577px) {
  main {
    .grid {
      h1 {
        font-size: 40px !important;
      }
    }
  }
}


@media only screen and (max-width: 560px) {
  main {
    .title {
      font-size: 80px !important;
    }

    .bottom-nav {
      h3 {
        font-size: 1.1em !important;
        transform: scaleY(1.1) translateX(-16px) !important;
      }
    }

    .bottom-nav:hover h3 {
      transform: scaleY(1.1) translateX(0px) !important;
    }
  }
}

@media only screen and (max-width: 560px) {
  main {
    .title {
      font-size: 80px !important;
    }

    .desc {
      width: 60% !important;
    }
  }
}

@media only screen and (max-width: 452px) {
  main {
    .grid {
      height: 64%!important;
      top: 26%!important;

      .destionation {
        grid-column: 3/span 8 !important;
        grid-row: 11/span 1 !important;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  main {
    .title {
      font-size: 64px !important;
      h1{
        bottom: 30px !important;
        letter-spacing: 6px !important;
      }
    }
    .forest {
      top: 75vh !important;
    img{
      height: 80%!important;
    }
  }
    .desc {
      width: 65% !important;
      .sub-title{
        padding-bottom: 5px !important;
        width: 78%!important;
        font-size: 10px!important;
      }
    }

    .grid {
      height: 60% !important;
      top: 30% !important;

      .destionation {
        grid-column: 3/span 9!important;
        grid-row: 11/span 1!important;
      }
    }
  }
}

@media only screen and (max-width: 402px) {
  nav>ul {
    font-size: 1.4em !important;
  }
  main {
    .title {
      font-size: 60px !important;
      h1{
        bottom: 35px !important;
      }
    }
    .desc {
      width: 65% !important;
    }

    .grid {
      height: 60% !important;
      top: 30% !important;

      .destionation {
        grid-column: 3/span 9!important;
        grid-row: 11/span 1!important;
      }
    }
  }
}
